.navbar navbar-expand-lg{
    background-color: aquamarine;
}

.navbar-brand
{
    color: aliceblue;
}

.butn{
    border-radius: 20px;
    box-sizing: initial;
    border-color: rgb(164, 38, 38);
    color: rgb(62, 128, 204);
}
.container-fluid{
    z-index: 999;
}